# For testing
pytest-relaxed>=2
invoke>=2
releases>=2.0.1
pytest-cov==2.4.0
pytest-mock==3.2.0
watchdog==0.8.3
coverage==4.4.2
# Formatting
black==19.10b0
# Linting
flake8==3.6.0
# Modern setuptools, eg automatic license file detection
setuptools>=56

# Self, for runtime/task dependencies
-e .
