# Our own tests now need some newer Invoke features, even if our use of its API
# should still be ok with 1.0+
invoke>=1.5,<2.0
# For packaging
wheel==0.24
twine==1.11.0
# For testing
pytest-relaxed>=1,<2
pytest-cov==2.4.0
mock==1.0.1
watchdog==0.8.3
coverage==4.4.2
# For linting
flake8==3.6.0
# For docs (explicit, even tho we currently commutatively require these
# anyways, how meta)
# NOTE: sphinx is busted for our releases tree in 1.6+
sphinx<1.7
alabaster==0.7.12

# Self, for runtime/task dependencies
-e .
