# For testing
pytest-relaxed>=1,<2
pytest-cov==2.4.0
pytest-mock==3.2.0
mock==1.0.1
watchdog==0.8.3
coverage==4.4.2
codecov==2.1.11
# Formatting
black==19.10b0
# Linting
flake8==3.6.0
# For docs (explicit, even tho we currently commutatively require these
# anyways, how meta)
# NOTE: sphinx is busted for our releases tree in 1.6+
sphinx<1.7
alabaster==0.7.12

# Self, for runtime/task dependencies
-e .
